
<!DOCTYPE html>
<html>
<head>
 <link href="../styles/style.css" rel="stylesheet" type="text/css" media="all"> 
 <style>
 aside {
  width: 100%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  
  
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>
  <ul>
  <li><a href="../code/home.html">HOME</a></li>
  <li><a href="#Doctors">DOCTORS AND DEPARTMENT</a></li>
  <li><a href="#">CAREERS</a></li>
  <li><a href="#">CONTACT US</a></li>
  <li><a href="#">BOOK AN APPOINTMENT &#9743</a></li> 
  </ul>
  <br>
  <br>
  
  <div>
  	<h1 style="color:brown;text-align:center">PROVIDES THE BEST TREATMENT</h1>
  		<h3 style="color:brown;text-align:center">
  		We Provide with the best treatment available.Search Departments For taking Appointments
  	</h3>
  </div>
  <br>
  <br>
  <br>
  <div>
  <form >
  <form >
  <label for="Speciality">Search for Specialities</label>
  <select id="Speciality" name="Speciality">
    <option value="ORTHOPAEDIACS">ORTHOPAEDIACS</option>
    <option value="CARDIOLOGY">CARDIOLOGY</option>
    <option value="ANASTHASIA">ANASTHASIA</option>
    <option value="CHEMOTHERAPY">CHEMOTHERAPY</option>
  </select>
  

  <label for="Apt" >Date Of Appointment:</label><br>  <input type="date" id="Apt" name="Apt">
  <input type="submit">
</form>
</div>

  <!--form>
            <label for="text" > Search for Doctors/Procedures/Departments:</label><br>
            <input type="text"  id="text" class="ola-text-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search here" value="">
            <button class="fa fa-search" type="submit" title="Search"><em>Search</em></button>
          </form>
<input name="taskEndDate" id="rcdLs_f1_taskEndDate" type="text" class="form-control lSize form-control-custom ng-pristine ng-valid ng-isolate-scope ng-valid-date ng-touched" uib-datepicker-popup="dd MMM yyyy" placeholder="Select Date" ng-model="selectedDate" date-disabled="disabled(date, mode)" is-open="taskEndDate.opened" min-date="minDate" datepicker-options="dateOptions" close-text="Close" clear-text="Clear" current-text="Today" ng-value="selectedDate" data-ng-change="isDateValid(selectedDate)" ng-click="taskEndDate.opened = !taskEndDate.opened" value="Sun Oct 04 2020 20:27:48 GMT+0530 (India Standard Time)"-->


</body>
</html>